<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the.......... <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle block >Toggle Menu</button>



  <button ion-button color="primary" (click)="modal()" block>modal page load</button>

  <h4>입력된 결과 값</h4>
  <ion-grid>
     <ion-row>
       <ion-col *ngIf="profile.actionSwitch">{{profile.actionSwitch}}</ion-col>
       <ion-col  *ngIf="profile.name" col-6>{{profile.name}}</ion-col>
       <ion-col *ngIf="profile.gender">{{profile.gender}}</ion-col>
     </ion-row>

    <ion-row>
      <ion-col *ngIf="profile.domestic">{{profile.domestic}}</ion-col>
      <ion-col  *ngIf="profile.startDate"col-8>{{profile.startDate}}</ion-col>
    </ion-row>

  </ion-grid>


  <button ion-button   (click)="showPrompt()" block>prompt alert</button>
</ion-content>
